/* Job Experience Timeline */
#experience {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  }
  
  #experience h2 {
    font-family: 'Tangerine', cursive;
    text-align: center;
    font-size: 70px;
    color: #0056b3;
    margin-bottom: 50px;
    position: relative;
    letter-spacing: 2px;
    text-shadow: 4px 4px 4px #aaa
  }
  
  /* Timeline Container */
  .timeline {
    position: relative;
    padding: 20px 0;
    margin-left: 40px;
  }
  
  .timeline::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50px;
    width: 4px;
    height: 100%;
    background-color: #0056b3;
  }
  
  /* Timeline Items */
  .timeline-item {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    position: relative;
    padding-left: 30px;
    animation: slideIn 0.5s ease-out forwards;
    opacity: 0;
  }
  
  .timeline-item:nth-child(even) {
    animation-delay: 0.2s;
  }
  
  .timeline-item:nth-child(odd) {
    animation-delay: 0.4s;
  }
  
  .timeline-item .timeline-icon {
    position: absolute;
    left: -25px;
    top: 0;
    width: 50px;
    height: 50px;
    background-color: #0056b3;
    color: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
  }
  
  .timeline-item .timeline-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .timeline-item:hover .timeline-content {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
  
  .timeline-item h3 {
    font-family: "Playwrite GB S", serif;
    font-size: 24px;
    color: #0056b3;
    margin-bottom: 5px;
  }
  
  .timeline-item h4 {
    font-family: "Pacifico", cursive;
    font-size: 18px;
    color: #333;
    margin-bottom: 15px;
  }
  
  .timeline-item p {
    font-family: "EB Garamond", serif;
    font-size: 16px;
    color: #555;
  }
  
  /* Keyframes for sliding animation */
  @keyframes slideIn {
    from {
        transform: translateX(100px);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
  }